.content {

}

h1 {
  font-size: 18px;
  font-weight: normal;
}
.box1,
.box2,
.box3,
.box4 {
  /*box model*/
  border: 3px solid black;
  border-radius: 20px;
  background-color: deepskyblue;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;

  /*Position*/
  position: relative;
  width: 250px;
  height: 150px;
  top: 5px;
  left: 5px;
  overflow: hidden;
  /*Display*/
  display: inline-block;
}

.box1 {
  background-color: #b1e0af;
  z-index: 4;
}
.box2 {
  background-color: #afe0db;
  z-index: 3;

}

span.floatright {
    float: right;
}
.box3 {
  background-color: #466995;
  z-index: 1;
}

.box4 {
  background-color: rgba(210, 34, 36, 1);
  z-index: 2;
}

.box3 p,
.box3 h1,
.box4 p,
.box4 h1 {
  color: white;
}
div {

}
h1,
p {
  font-family: helvetica, sans-serif;
}
