body {

}


.box1 {
  border: solid red;
  border-radius: 20px;
  background-color: aquamarine;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
  width: 400px;
  height: 300px;
  z-index: 2;
  top: 5px;
  left: 5px;
}

.box2 {
  /*box model*/
  border: 3px solid black;
  border-radius: 20px;
  background-color: deepskyblue;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;

  /*Position*/
  position: relative;
  width: 400px;
  height: 300px;
  z-index: 2;
  top: 5px;
  left: 5px;
}

.box3 {
  /*box model*/
  border: 3px solid black;
  border-radius: 20px;
  background-color: #6ac5ac;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 400px;
  height: 300px;

  /*Position*/
  position: relative;
  z-index: 2;
  top: 5px;
  left: 5px;
}

.box4 {
  /*box model*/
  border: 3px black;
  border-style: dashed solid;
  border-radius: 20px;
  background-color: #D64078;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  width: 400px;
  height: 300px;

  /*Position*/
  position: relative;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.box3 p, .box4 p {
  color: white;
}

div {
  /*Display*/
display: inline-block;
}

h1,
p {
  font-family: helvetica, sans-serif;
}
